beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
cssutils==1.0.2
Django==1.11.29
django-ckeditor==5.3.0
django-classy-tags==0.8.0
django-colorfield==0.1.12
django-constance==2.0.0
django-inlinecss==0.1.2
django-jet==1.0.6
django-js-asset==0.1.1
django-meta==1.4
django-mptt==0.8.7
django-picklefield==1.0.0
django-rest-framework==0.1.0
django-sekizai==0.10.0
django-taggit==0.22.1
djangorestframework==3.6.3
google-api-python-client==1.4.1
httplib2==0.10.3
idna==2.5
mock==2.0.0
oauth2client==2.2.0
olefile==0.44
pbr==3.1.1
Pillow==4.2.1
psycopg2==2.7.3.1
pyasn1==0.3.2
pyasn1-modules==0.0.11
PyJWT==1.5.0
pynliner3==0.6
PySocks==1.6.7
python-memcached==1.54
pytz==2017.2
QueryableList==3.1.0
requests==2.18.3
rsa==3.4.2
six==1.10.0
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.22
