{% load inlinecss staticfiles%}
{% inlinecss "css/email.css" %}
    <html>
    <body>
    <div class="container">
        <div class="title">
            У вас новый заказ!
        </div>
        <div class="name">
            <b>Имя:</b> {{ name }}
        </div>
        <div class="phone">
            <b>Телефон:</b> <a href="tel:{{ phone }}">{{ phone }}</a>
        </div>
        {% if text %}
            <div class="text">
                {{ text }}
            </div>
        {% endif %}
    </div>
    </body>
    </html>
{% endinlinecss %}
