{% load static  mptt_tags %}

<!---->
<div data-num="1" data-thumb="/static/img_builder/footer.png" data-cat="0">

    <div class="editorElement layer-type-block ui-droppable block-41 ui-droppable-hover ui-state-hover">
        <div class="layout layout_center not-columned layout_center_111_id_144_0">
            <div class="editorElement layer-type-block ui-droppable block-56">
                <div class="widget-63 map-84 widget-type-map editorElement layer-type-widget"
                     data-controls="searchControl" id="widgetMap84" data-center="52.73807742739386,59.41072825390622"
                     data-zoom="4" data-type="yandex#map">

                </div>
                <div class="editorElement layer-type-block ui-droppable block-20">
                    <div class="phones-74 widget-52 phones-block contacts-block widget-type-contacts_phone editorElement layer-type-widget">
                        <div class="inner">
                            <label class="cell-icon" for="tg-phones-74">
                                <div class="icon"></div>
                            </label>
                            <input id="tg-phones-74" class="tgl-but" type="checkbox">
                            <div class="block-body-drop">
                                <div class="cell-text">
                                    <div class="title">
                                        <div class="align-elem">Телефон:</div>
                                    </div>
                                    <div class="text_body">
                                        <div class="align-elem">
                                            <div><a href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a></div>
                                            <div><a href="tel:8 (000) 000-00-00">8 (000) 000-00-00</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="address-52 widget-33 address-block contacts-block widget-type-contacts_address editorElement layer-type-widget">
                        <div class="inner">
                            <label class="cell-icon" for="tg52">
                                <div class="icon"></div>
                            </label>
                            <input id="tg52" class="tgl-but" type="checkbox">
                            <div class="block-body-drop">
                                <div class="cell-text">
                                    <div class="title">
                                        <div class="align-elem">Адрес:</div>
                                    </div>
                                    <div class="text_body">
                                        <div class="align-elem">Россия, Санкт-Петербург, Ленинский просп., 151, офис
                                            711
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="email-59 widget-37 email-block contacts-block widget-type-contacts_email editorElement layer-type-widget">
                        <div class="inner">
                            <label class="cell-icon" for="tg-email-59">
                                <div class="icon"></div>
                            </label>
                            <input id="tg-email-59" class="tgl-but" type="checkbox">
                            <div class="block-body-drop">
                                <div class="cell-text">
                                    <div class="title">
                                        <div class="align-elem">Email:</div>
                                    </div>
                                    <div class="text_body">
                                        <div class="align-elem"><a href="mailto:test@examle.com">test@examle.com</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-85 widgetsocial-104 widget-type-social_links editorElement layer-type-widget">
                        <div class="soc-content">
                            <div class="soc-item fb"><a href="https://facebook.com" class="soc" target="_blank"><span
                                    class="wg-soc-icon"></span></a></div>
                            <div class="soc-item tw"><a href="https://twitter.com" class="soc" target="_blank"><span
                                    class="wg-soc-icon"></span></a></div>
                            <div class="soc-item ins"><a href="https://instagram.com" class="soc" target="_blank"><span
                                    class="wg-soc-icon"></span></a></div>
                        </div>
                    </div>
                    <div class="widget-129 search-154 wm-search widget-type-search editorElement layer-type-widget"
                         data-setting-type="fade" data-setting-animate="0" data-setting-animate_list="0,0,0,0,0">
                        <form class="wm-search-inner" method="get" action="/search">
                            <input size="1" class="wm-input-default" placeholder="поиск по сайту" type="text"
                                   name="search" value="">
                            <button class="wm-input-default" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="editorElement layer-type-block ui-droppable block-17">
            <div class="layout layout_center not-columned layout_38_id_42">
                <div class="editorElement layer-type-block ui-droppable block-18">
                    <div class="layout column layout_60">
                        <div class="editorElement layer-type-block ui-droppable block-22">
                            <div class="site-copyright widget-22 widget-type-site_copyright editorElement layer-type-widget">

                                <div class="align-elem">
                                    Copyright &copy; 2017 <br>
                                    Название компании
                                </div>

                            </div>
                            <div class="mega-copyright widget-24 widget-type-mega_copyright editorElement layer-type-widget">
                                <span style='font-size:10px;' class='copyright'><!--noindex--><a
                                        href="http://megagroup.ru" target="_blank" rel="nofollow"><img
                                        src="http://cp1.megagroup.ru/g/mlogo/svg/sozdanie-saitov-megagroup-ru-dark.svg"
                                        class="copyright"></a><!--/noindex--></span>
                            </div>
                        </div>
                    </div>
                    <div class="layout column layout_40">
                        <div class="site-counters widget-23 widget-type-site_counters editorElement layer-type-widget">


                        </div>
                    </div>
                    <div class="layout column layout_61">
                        <div class="up-61 widget-38 up_button widget-type-button_up editorElement layer-type-widget"
                             data-speed="900">
                            <div class="icon"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-num="2" data-thumb="/static/img_builder/answer.png" data-cat="0">
    <div class="layout layout_center not-columned layout_center_2_id_44_3">
        <div class="editorElement layer-type-block ui-droppable block-59">
            <div class="layout layout_center not-columned layout_151_id_101">
                <div class="form-101 widget-84 vertical_mode widget-type-form_adaptive editorElement layer-type-widget">
                    <div class="form__header">
                        <div class="align-elem">Оставить заявку</div>
                    </div>
                    <div class="form__text">
                        <div class="align-elem">Есть вопросы?
                            <div>Заполните данные поля, и мы свяжемся с Вами в ближайшее время</div>
                        </div>
                    </div>
                    <div class="form__body" data-api-type="form">
                        <form method="post">

                            <div class="form-table">
                                <div class="form-tbody">
                                    <div class="form-item-group group-text">
                                        <div class="form-item form-text name">
                                            <div class="form-item__body"><input class="wm-input-default"
                                                                                placeholder="* Ваше имя: " type="text"
                                                                                size="1" maxlength="100" value=""
                                                                                name="d[0]" id="d[0]" required=""></div>
                                        </div>
                                        <div class="form-item form-text phone">
                                            <div class="form-item__body"><input class="wm-input-default"
                                                                                placeholder="* Телефон: " type="text"
                                                                                size="1" maxlength="100" value=""
                                                                                name="d[1]" id="d[1]" required=""></div>
                                        </div>
                                    </div>
                                    <div class="form-item-group group-textarea">
                                        <div class="form-item form-textarea comments"><label
                                                class="form-item__body"><textarea class="wm-input-default"
                                                                                  placeholder=" Комментарии: " cols="1"
                                                                                  rows="1" name="d[2]"
                                                                                  id="d[2]"></textarea></label></div>
                                    </div>
                                </div>
                                <div class="form-tfoot">
                                    <div class="form-item-group group-button">
                                        <div class="form-submit">
                                            <div class="form-item__body">
                                                <button class="wm-input-default" type="submit"><span class="align-elem">Отправить</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-num="3" data-thumb="/static/img_builder/menus.png" data-cat="0">
    <div id='dom_menu' class=" editorElement layer-type-block ui-droppable block-45">
        <div class="layout layout_center not-columned layout_126_id_127">
            <div class="widget-109 horizontal menu-127 wm-widget-menu widget-type-menu_horizontal editorElement layer-type-widget"
                 data-screen-button="none" data-responsive-tl="button" data-responsive-tp="button"
                 data-responsive-ml="columned" data-more-text="..." data-child-icons="0">

                <div class="menu-button">
                    Меню
                </div>

                <div class="menu-scroll">
                    <ul>
                        {% recursetree pages %}
                            <li class="menu-item">
                                <a href="{{ node.url }}">
                                    <span class="menu-item-text">{{ node.title }}</span>
                                </a>
                            </li>
                        {% endrecursetree %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div data-num="4" data-thumb="/static/img_builder/contact.png" data-cat="0">
    <link rel="stylesheet" href="/static/g/css/styles_articles_tpl.css">
    <link rel="stylesheet" href="/static/d/1722959/t/v460/images/css/styles.css">
    <div class="layout layout_center not-columned layout_center_2_id_44_1">
        <div class="editorElement layer-type-block ui-droppable block-62">
            <div class="widget-134 path widget-type-path editorElement layer-type-widget"><a
                    href="/">Главная</a> \ Контакты
            </div>
            <h1 class="h1 widget-135 widget-type-h1 editorElement layer-type-widget">
                Контакты
            </h1>
            <article class="content-162 content widget-136 widget-type-content editorElement layer-type-widget">


                <div class="localcontacts2">
                    <div class="localcontacts__adress">
                        <div class="localcontacts__adress-text localcontacts__adress-text--nomar localnomargin">
                            <div class="localcontacts__adress-inner">
                                <b>Санкт-Петербург</b>
                                + 7 (123) 123-45-67
                            </div>
                            <div class="localcontacts__adress-inner">
                                <b>Москва</b>
                                + 7 (123) 123-45-67
                            </div>

                            <div class="localcontacts__top-discription localcontacts__top-discription--nomar">
                                <span>Прием звонков: с 9:00 до 20:00 (Пн-Пт)</span>
                            </div>

                            <div class="localcontacts__adress-inner">
                                <b>Адрес</b>
                                <p>196247, Россия, Санкт-Петербург, Ленинский просп., 151, офис 711. Местный телефон:
                                    509</p>
                            </div>
                            <div class="localcontacts__adress-inner">
                                <b>Реквизиты компании</b>
                                ООО "Название компании"
                                Юридический адрес: 196247, Россия, Санкт-Петербург, Ленинский просп., 151
                                ОГРН 5130021071233
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="localmap">
                        <div id="myMap" style="height: 200px"></div>
                    </div>
                </div>


            </article>
        </div>
    </div>
</div>

<div data-num="5" data-thumb="/static/img_builder/welcome.png" data-cat="0">
    <div class="layout layout_center not-columned layout_center_2_id_44_1">
        <div class="editorElement layer-type-block ui-droppable block-35">


            <div class="blocklist blocklist-113 widget-97 horizontal_mode widget-type-block_list editorElement layer-type-widget"
                 data-slider="0,0,0,0,0" data-swipe="0,1,1,1,1" data-setting-mode="horizontal" data-setting-pause="4000"
                 data-setting-auto="1" data-setting-controls="1,1,1,1,1" data-setting-pager="1,1,1,1,1"
                 data-setting-pager_selector=".blocklist-113 .pager-wrap"
                 data-setting-prev_selector=".blocklist-113 .prev" data-setting-next_selector=".blocklist-113 .next"
                 data-setting-count="3,3,3,3,3" data-setting-columns="4,3,3,2,1" data-setting-move=""
                 data-setting-prev_text="" data-setting-next_text=""
                 data-setting-auto_controls_selector=".blocklist-113 .auto_controls"
                 data-setting-auto_controls="0,0,0,0,0" data-setting-autocontrolscombine="0">

                <div class="body-outer">
                    <div class="body">
                        <div class="swipe-shadow-left"></div>
                        <div class="swipe-shadow-right"></div>
                        <div class="list">
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><a href="khleba-traditsionnyye.htm"><span
                                            class="img-convert img-cover"><img
                                            src="\static\thumb\8b1lt3jFE2z7U5rWjZlaZg\120r-\1722959\4.png"
                                            alt="Хлеба традиционные"></span></a></div>
                                    <span class="title"><span class="align-elem">Хлеба традиционные</span></span>
                                    <div class="more"><a data-wr-class="popover-wrap-113"
                                                         href="khleba-traditsionnyye.htm"><span class="align-elem">подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><a href="bulochnyye-izdeliya.htm"><span
                                            class="img-convert img-cover"><img
                                            src="\static\thumb\vhdwKyb8nxeUZxKxGB0l0A\120r-\1722959\2_2.png"
                                            alt="Булочные изделия"></span></a></div>
                                    <span class="title"><span class="align-elem">Булочные изделия</span></span>
                                    <div class="more"><a data-wr-class="popover-wrap-113"
                                                         href="bulochnyye-izdeliya.htm"><span class="align-elem">подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><a href="batony-bulki.htm"><span
                                            class="img-convert img-cover"><img
                                            src="\static\thumb\ZQrSNIvRM6GK10vRengqkQ\120r-\1722959\3_1.png"
                                            alt="Батоны, булки"></span></a></div>
                                    <span class="title"><span class="align-elem">Батоны, булки</span></span>
                                    <div class="more"><a data-wr-class="popover-wrap-113" href="batony-bulki.htm"><span
                                            class="align-elem">подробнее</span></a></div>
                                </div>
                            </div>
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><a href="baranochnyye-izdeliya.htm"><span
                                            class="img-convert img-cover"><img
                                            src="\static\thumb\OanMTqoFBIHCs6lilr062w\120r-\1722959\1.png"
                                            alt="Бараночные изделия"></span></a></div>
                                    <span class="title"><span class="align-elem">Бараночные изделия</span></span>
                                    <div class="more"><a data-wr-class="popover-wrap-113"
                                                         href="baranochnyye-izdeliya.htm"><span class="align-elem">подробнее</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <span class="prev"></span>
                    <span class="next"></span>
                </div>

                <div class="bx-pager-wrap">
                    <div class="bx-auto_controls">
                        <div class="auto_controls"></div>

                        <div class="pager-wrap"></div>

                    </div>
                </div>

            </div>


            <div class="editable_block-147 widget-124 editorElement layer-type-widget">
                <div class="header">
                    <div class="align-elem">Добро пожаловать на наш сайт!</div>
                </div>
                <div class="body">
                    <div class="text">
                        <div class="align-elem"><p>Мы работаем с 2007 года, и за это время накопили большой опыт,
                            который позволит нам подобрать и поставить для Вас всё необходимое оборудование. Вы ищите
                            надёжного и добросовесного поставщика? Мы с радостью включим Вас в список наших Партнеров и
                            будем продолжительно и продуктивно работать вместе с Вами. Среди наших клиентов есть школы,
                            больницы, детские сады, ведомства и службы, управляющие компании, банки, а также большое
                            количество различных Коммерческих организаций.</p></div>
                    </div>
                    <div class="more"><a data-wr-class="popover-wrap-147" href="about.htm"><span class="align-elem">подробнее</span></a>
                    </div>
                </div>
            </div>


            <div class="blocklist blocklist-152 widget-127 horizontal_mode widget-type-block_list editorElement layer-type-widget"
                 data-slider="0,0,0,0,0" data-swipe="0,1,1,1,1" data-setting-mode="horizontal" data-setting-pause="4000"
                 data-setting-auto="1" data-setting-controls="1,1,1,1,1" data-setting-pager="1,1,1,1,1"
                 data-setting-pager_selector=".blocklist-152 .pager-wrap"
                 data-setting-prev_selector=".blocklist-152 .prev" data-setting-next_selector=".blocklist-152 .next"
                 data-setting-count="3,3,3,3,3" data-setting-columns="5,4,auto,auto,auto" data-setting-move=""
                 data-setting-prev_text="" data-setting-next_text=""
                 data-setting-auto_controls_selector=".blocklist-152 .auto_controls"
                 data-setting-auto_controls="0,0,0,0,0" data-setting-autocontrolscombine="0">

                <div class="body-outer">
                    <div class="body">
                        <div class="swipe-shadow-left"></div>
                        <div class="swipe-shadow-right"></div>
                        <div class="list">
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><span class="img-convert img-contain"><img
                                            src="\static\d\1722959\d\icon1.png" alt="Плиты перекрытия"></span></div>
                                </div>
                            </div>
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><span class="img-convert img-contain"><img
                                            src="\static\d\1722959\d\icon2.png" alt="Железобетонные кольца"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><span class="img-convert img-contain"><img
                                            src="\static\d\1722959\d\icon3.png" alt="Железобетонные сваи"></span></div>
                                </div>
                            </div>
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><span class="img-convert img-contain"><img
                                            src="\static\d\1722959\d\icon4.png" alt="Фундаментные блоки"></span></div>
                                </div>
                            </div>
                            <div class="item-outer">
                                <div class="item">
                                    <div class="image"><span class="img-convert img-contain"><img
                                            src="\static\d\1722959\d\icon5.png" alt="Бетонные лотки"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <span class="prev"></span>
                    <span class="next"></span>
                </div>

                <div class="bx-pager-wrap">
                    <div class="bx-auto_controls">
                        <div class="auto_controls"></div>

                        <div class="pager-wrap"></div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div data-num="6" data-thumb="/static/img_builder/about.png" data-cat="0">
    <link rel="stylesheet" href="/static/g/css/styles_articles_tpl.css">
    <link rel="stylesheet" href="/static/d/1722959/t/v460/images/css/styles.css">
    <div class="layout layout_center not-columned layout_center_2_id_44_1">
        <div class="editorElement layer-type-block ui-droppable block-62">
            <div class="widget-134 path widget-type-path editorElement layer-type-widget"><a
                    href="index.htm">Главная</a> \ О компании
            </div>
            <h1 class="h1 widget-135 widget-type-h1 editorElement layer-type-widget">
                О компании
            </h1>
            <article class="content-162 content widget-136 widget-type-content editorElement layer-type-widget">


                <p><br>В этом блоке мы рекомендуем разместить информацию о Вашей организации, подчеркнуть ее значимость
                    и надежность на рынке оказываемых услуг или предлагаемых товаров.</p>
                <p>Примечание. Обращаем Ваше внимание, что текстовая информация на сайте должна быть индивидуальной, не
                    скопированной с других интернет-ресурсов, о чем указано в рекомендациях Яндекса: &laquo;Мы стараемся
                    не индексировать или не ранжировать высоко сайты, копирующие информацию с других ресурсов и не
                    создающие оригинального контента или сервиса&raquo;.</p>
                <h3>Пример заполнения страницы:</h3>
                <p>Вас приветствует компания &laquo;...&raquo; &lt;<span style="color: #ff0000;">в</span><span
                        style="color: #e44f50;"><span style="color: #ff0000;">ведите название компании</span><span
                        style="color: #000000;">&gt;</span></span>!</p>
                <p>&hellip;&lt;<span style="color: #ff0000;"><em>введите название компании</em>&gt; &nbsp;- динамично развивающаяся компания в области/сфере &hellip; &lt;<em>укажите сферу деятельности</em></span>&gt;.
                </p>
                <p>Мы рады предложить вам широкий спектр услуг по &hellip; &lt;<span style="color: #ff0000;">укажите предлагаемые услуги</span>&gt;
                    по самым выгодным ценам.</p>
                <p>или</p>
                <p>Мы рады предложить вам широкий ассортимент &hellip; &lt;<em><span style="color: #e44f50;">укажите предлагаемые товары</span></em>&gt;
                    по самым выгодным ценам.</p>
                <p>Вот уже &hellip; &lt;<em><span style="color: #e44f50;">укажите стаж работы компании</span></em>&gt;
                    лет наша компания занимает уверенные позиции на рынке и предоставляет только самые современные
                    решения, позволяя нашим клиентам делать заказы через сайт.</p>
                <p>За годы успешной работы компания &hellip; &lt;<em><span style="color: #e44f50;">введите название компании</span></em>&gt;
                    приобрела бесценный опыт, о чем свидетельствуют лестные отзывы наших клиентов.</p>
                <p>В случае если у Вас возникли вопросы при оформлении заказа, Вы всегда можете обратиться в наш
                    справочный центр по телефону &hellip; &lt;<em><span
                            style="color: #e44f50;">укажите номер телефона</span></em>&gt; или воспользовавшись
                    онлайн-консультантом на сайте.</p>


            </article>
        </div>
    </div>
</div>

<!-- End of Default -->

