{% load staticfiles mptt_tags %}
<!doctype html>
{% load sekizai_tags meta %}

<html {% render_block 'html_extra' %}>
<head {% meta_namespaces %}>
    {% include "meta/meta.html" %}
    <script type="text/javascript" src="{% static 'g/libs/jquery/1.10.2/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'g/s3/lp/css/global_styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'g/s3/lp/css/slick.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'g/s3/lp/css/lp3.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'g/s3/lp/js/lp_global_plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/s3/lp/js/timer.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/s3/lp/js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/s3/lp/js/one.line.menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/libs/jquery-bxslider/4.1.1/jquery.bxslider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/s3/lp/js/jquery.columnizer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/s3/lp/js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/s3/lp/js/lg-video.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'g/s3/lp/js/lp3.js' %}"></script>
    <!-- LP requires -->
    <link rel='stylesheet' type='text/css' href='{% static 'shared/highslide-4.1.13/highslide.min.css' %}'>

    <script type='text/javascript' src='{% static 'shared/highslide-4.1.13/highslide-full.packed.js' %}'></script>
    <script type='text/javascript'>
        hs.graphicsDir = 'static/shared/highslide-4.1.13/graphics/';
        hs.outlineType = null;
        hs.showCredits = false;
        hs.lang = {
            cssDirection: 'ltr',
            loadingText: 'Загрузка...',
            loadingTitle: 'Кликните чтобы отменить',
            focusTitle: 'Нажмите чтобы перенести вперёд',
            fullExpandTitle: 'Увеличить',
            fullExpandText: 'Полноэкранный',
            previousText: 'Предыдущий',
            previousTitle: 'Назад (стрелка влево)',
            nextText: 'Далее',
            nextTitle: 'Далее (стрелка вправо)',
            moveTitle: 'Передвинуть',
            moveText: 'Передвинуть',
            closeText: 'Закрыть',
            closeTitle: 'Закрыть (Esc)',
            resizeTitle: 'Восстановить размер',
            playText: 'Слайд-шоу',
            playTitle: 'Слайд-шоу (пробел)',
            pauseText: 'Пауза',
            pauseTitle: 'Приостановить слайд-шоу (пробел)',
            number: 'Изображение %1/%2',
            restoreTitle: 'Нажмите чтобы посмотреть картинку, используйте мышь для перетаскивания. Используйте клавиши вперёд и назад'
        };</script>
    <link rel='stylesheet' type='text/css' href='{% static 'shared/s3/css/calendar.css' %}'>
    <script type='text/javascript' src='{% static 'shared/s3/js/lang/ru.js' %}'></script>
    <script type='text/javascript' src='{% static 'shared/s3/js/cookie.js' %}'></script>
    <script type='text/javascript' src='{% static 'shared/s3/js/widgets.js' %}'></script>
    <script type='text/javascript' src='{% static 'shared/s3/js/calendar.packed.js' %}'></script>

    <!--s3_require-->
    <script type="text/javascript" src="{% static 'g/s3/lp/js/lp.core.js' %}"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDcmOwlMpHCyHSOca66rCjXMHNaeha4qIk"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru"></script>
    <!--/s3_require-->


	<script type="text/javascript">
		$(function() {
			s3LP.init({"is_cms":false});
		});
	</script>

</head>
<body>

{{ flatpage.content }}
</body>
</html>


<!-- site_plan_id: 1, 7950 -->


<style>
    .s3solution-themes--showed {
        -webkit-transform: none !important;
        transform: none !important;
    }
</style>
<script src="http://design.megagroup.ru/static/reDesign_ru/js/substitution.js?_=1505755467"></script>











<script>
    (function setRoistat() {
        var roistatGet = getParam('roistat_visit');

        function getParam(param_name) {
            var getStr = document.location.search;
            var result;

            if (getStr) {
                getStr = getStr.split('&');
                getStr.forEach(function (param) {
                    if (param.match(param_name)) {
                        result = param.split('=')[1];
                    }
                });

                return result;
            }
        }

        function replaceParams(str, param_name, param_value) {
            var lastChar, hrefParams, isReplaced, replacedParams;

            lastChar = str.slice(-1);
            if (lastChar === '?') {
                str = str.replace('?', '');
            }

            hrefParams = str.split('&');
            isReplaced = false;
            replacedParams = hrefParams.map(function (param) {
                if (param.indexOf(param_name) !== -1) {
                    var arr = param.split('=');
                    arr[1] = param_value;
                    isReplaced = true;
                    return arr.join('=');
                } else {
                    return param;
                }
            });

            replacedParams = replacedParams.join('&');

            if (!isReplaced) {
                replacedParams += (str.indexOf('?') === -1 ? '?' : '&') + param_name + '=' + param_value;
            }

            return replacedParams;
        }

        window.onRoistatModuleLoaded = function () {
            roistat.registerOnVisitProcessedCallback(function () {
                $(document).ready(function () {
                    var $roistat;
                    var $links = $('.s3solution-panel__btn--order, .s3solution-panel__link');
                    var $megaLinks = $('a[href*=megagroup]:not(.s3solution-panel a), a[href*=конструктор-сайтов]:not(.s3solution-panel a)');
                    var $megaDynamicLinks = $('a[onclick*=конструктор-сайтов], a[onclick*=megagroup]');

                    if (roistat.visit) {
                        $links = $links.add($megaLinks);
                        $roistat = roistat.visit;
                    } else {
                        $links = $megaLinks;
                        $roistat = roistatGet;
                    }

                    $links.each(function () {
                        var $this = $(this);
                        var href = $this.attr('href');
                        href = replaceParams(href, 'roistat_visit', encodeURIComponent($roistat));
                        $this.attr('href', href);
                    });

                    $megaDynamicLinks.each(function () {
                        var $this = $(this);
                        var href = $this.attr('onclick').slice(0, -2);
                        href += '?roistat_visit=' + encodeURIComponent($roistat) + '\'';
                        $this.attr('onclick', href);
                    });
                });
            });
        };
    })();
</script>

<script src="{% static 'g/templates/solutions/all/panel/3.0.0/panel.js' %}"></script>

<script src="{% static 'my/s3/js/site.min.js' %}" type="text/javascript"></script>


<link rel="stylesheet" href="{% static 'g/templates/solutions/all/hotlink/1.0.0/hotlink.css' %}">
<script src="{% static 'g/templates/solutions/all/hotlink/1.0.0/hotlink.js' %}"></script>



