{% load i18n fb_tags fb_compat %}

<div class="breadcrumbs">
    {% if not query.pop %}
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
    {% endif %}

    {% if breadcrumbs or breadcrumbs_title %}
        <a href="{% url 'page_editor:fb_browse' %}{% query_string "" "q,dir,filename,p" %}">Редактор файлов</a> &rsaquo;
    {% else %}
       Редактор файлов
    {% endif %}

    {% for item in breadcrumbs %}
        {% if not forloop.last %}
            <a href="{% url 'page_editor:fb_browse' %}{% query_string "" "q,dir,filename,p" %}&amp;dir={{ item.1|urlencode }}">{{ item.0 }}</a>
            <span class="icon-arrow-right breadcrumbs-separator"></span>

        {% else %}

            {% if breadcrumbs_title %}

                <a href="{% url 'page_editor:fb_browse' %}{% query_string "" "q,dir,filename,p" %}&amp;dir={{ item.1|urlencode }}">{{ item.0 }}</a> &rsaquo;
            {% else %}

                {{ item.0 }}

            {% endif %}

        {% endif %}
    {% endfor %}

    {% if breadcrumbs_title %}
        {{ breadcrumbs_title }}
    {% endif %}
</div>